---
layout: default
---
<section class="section section-services">
  <div class="container">
    <h1 class="title is-2 bree">{{ page.service.header }}</h1>

    <div class="columns is-multiline">
      {% for offer in page.service.offers %}
      <div class="column is-4">
        <div class="featured-box is-medium hover-inset">
          <h3 class="title is-4 bree"><a href="{{ offer.slug }}">{{ offer.caption }}</a></h3>
          <p class="content">{{ offer.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>
