---
layout: utensils
---
<section class="section dawn-patrol">
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-centered is-flex-mobile">
        <div class="has-text-centered box badge-of-honor is-pulled-right">
          <img src="{{ site.utensils.logo }}" width="128" height="127">
          <h1 class="title">
            UTENSILS
          </h1>
        </div>
      </div>
      <div class="column is-3 has-text-centered has-text-weight-semibold">
        <p>
          We are <span class="has-text-weight-bold"><u>experienced</u></span><br>
          <span class="has-text-weight-bold">software engineers</span> and <span class="has-text-weight-bold">system administrators</span>, focused on helping early stage companies with <span class="has-text-weight-bold">product development, training, hiring, and technical leadership</span>.
        </p>
      </div>
      <div class="column is-3"></div>
    </div><!-- /columns -->
  </div> <!-- /container -->
</section>
<footer class="footer after-party">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <div class="content has-text-weight-semibold has-text-right-desktop">
          <p>Let’s make something together!<br>We'd &hearts; to <a id="mailto" href="mailto:" target="_blank">hear from you</a>.</p>
        </div>
      </div> <!-- /column -->
      <div class="column is-6 has-text-centered-mobile">
        <a href="https://github.com/utensils" target="_blank"><span class="icon is-large has-text-grey"><i class="fab fa-3x fa-github"></i></span></a>
      </div> <!-- /column -->
    </div> <!-- /columns -->
  </div> <!-- /container -->
</footer>

<script src="/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="/assets/js/main.js" type="text/javascript"></script>
