---
layout: hero
nav_style: hero
---
<!-- nav_style: "{{nav_style}}" -->
<section class="hero is-medium hero-home">
  <div class="hero-head">
    {%- include _nav.html -%}
  </div>
  <div class="hero-body spiro">
    <div class="container">

      <div class="column is-5-desktop">
        <h1 class="title is-1">Digital solutions boutique</h1>
        <p class="content">We sell software development and ops consulting. We want to use this space for an incredibly detailed summary of our value proposition, including a compelling reason as to why we do it.</p>
      </div>
      <div class="column is-hidden-desktop">
        {% asset spiro02.png alt="placeholder" %}
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content has-text-centered column is-6 is-offset-3 is-centered">
      <h2 class="has-text-weight-normal">Everything, within reach.</h2>
      <p>We’re neither a design studio nor a development shop.<br>We’re a solutions boutique. </p>
    </div>
  </div>
</section>

<section class="section section-services home">
  <div class="container">

      <div class="columns">
        <div class="column is-4">
          <div class="content">
            <p>If our existing products won’t solve your problem, work together with our experienced team to find a solution that does.</p>
          </div>
        </div>
        <div class="column is-8">
          <div class="columns is-multiline">
            {% for catalog in site.data.services.catalog %}
            <div class="column is-6 is-offset-3">
              <div class="featured-box">
                <h2 class="title is-5 is-capitalized bree"><a href="{{ catalog.slug | prepend: "/services/" }}">{{ catalog.caption }}</a></h2>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

  </div>
</section>


{% include sections/home.got-this.html %}